<?xml version="1.0" encoding="utf-8" ?> 
<CENTURY-MIS>
	<META-TRADER>
		<SERVER-URL>20.68.169.58:443</SERVER-URL>
		<MANAGER-ID>2012</MANAGER-ID>
			<MANAGER-PASSWORD>Trade@123</MANAGER-PASSWORD>
	</META-TRADER>
	<MONGO-DB>
		<CONNECTION-STRING>mongodb://127.0.0.1:27017</CONNECTION-STRING>
		<DB-NAME>CenturyMIS_SWAP</DB-NAME>	
	</MONGO-DB>		
	<OTHER>
		<AUTO-RELOAD-TIME>01:00:00</AUTO-RELOAD-TIME>       <!-- use " - " to disable auto reload time-->
	    <SWAP-CALCULATE-TIME>9:50:00</SWAP-CALCULATE-TIME>	<!-- use " - " to disable auto reload time-->
	</OTHER>
</CENTURY-MIS>